.logo {
    font-family: 'Bono', arial;
    font-size: 40px;
    color: #ffffff;
}

.logo span {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.logo .letterB {
    margin-left: 0px;
}

.logo .letterO1 {
    margin-left: -26px;
}

.logo .letterN {
    margin-left: -18px;
}

.logo .letterO2 {
    margin-left: -22px;
}

.zeroLevel {
    color: #ffffff;
}

.logo .letterB.notZeroLevel {
    color: #F04B52;
}

.logo .letterO1.notZeroLevel {
    color: #FE5653;
}

.logo .letterN.notZeroLevel {
    color: #FD5F4F;
}

.logo .letterO2.notZeroLevel {
    color: #FC6949;
}

.content {
    position: absolute;
    min-width: 1024px;
}

.level {
}

.slide {
    display: inline-block;
    float: left;
    position: relative;
    min-width: 1024px;
}

h1 {
    /*margin-top: 300px;*/
    font-family: GothamProBlack, "Arial Black", "Arial Bold";
    font-size: 30px;
    display: inline-block;
    line-height: 44px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

h1.underlined {
    border-width: 0;
    border-bottom-width: 12px;
    border-bottom-style: solid;
    margin-right: -50px;
    padding-bottom: 30px;
}

.slide .line {
    margin-left: -150px;
    border-width: 0;
    border-top-width: 8px;
    border-top-style: solid;
}

.slide:first-child .line {
    border-color: transparent;
    border-image: inherit;
}

.slide h1,
.slide .text,
.slide .text-main {
    margin-left: 250px;
}

.slide .text div {
    /*float: left;*/
    display: inline-block;
    padding-right: 20px;
}

.slide .text .two-column {
    padding-right: 10%;
}

.slide .text, .slide .text-main {
    width: 80%;
}

.slide .text {
    margin-top: 60px;
}

.slide .text.last-page {
    margin-top: 30px;
}

.slide .text.first-page {
    margin-top: 30px;
    color: #ffffff;
}

.slide .text.first-contacts {
    margin-top: 40px;
}

.slide .left {
    width: 35%;
}

.slide .right {
    width: 35%;
}

.text .one-column, .text-main .one-column {
    width: 90%;
}

.text .three-column {
    width: 28%;
}

.text .three-column div {
    height: auto;
}

.text .two-column {
    width: 36%;
}

.text .two-column div {
    height: auto;
}

.icons-container {
    width: 90%;
}

.icon-container {
    width: 120px;
    height: auto;
    float: left;
}

.icon-svg {
    width: 100%;
    text-align: center;
}

.icon-text {
    text-align: center;
    font-size: 70%;
    font-family: GothamProBlack, "Arial Black", "Arial Bold";
    text-transform: uppercase;
}

.icons-container-big {
    width: 90%;
}

.icon-container-big {
    width: 240px;
    height: auto;
    float: left;
}

.icon-svg-big {
    width: 100%;
    text-align: center;
}

.icon-text-big {
    text-align: center;
    font-size: 90%;
    font-family: GothamProBlack, "Arial Black", "Arial Bold";
    text-transform: uppercase;
}

.slide .text {
    font-family: 'CalibriLight';
}

.one-column.address {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'CalibriRegular';
    font-size: 2em;
}

.contacts-container {
    margin-top: 10%;
    width: 90%;
}

.contacts-container .contact {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 5%;
}

.contacts-container .contact-h {
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contacts-container .contact a {
    text-decoration: none;
}

.slide .map {
    position: absolute;
    z-index: -1;
    overflow: hidden;
    height: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
}

.map-container {
    heigh: auto;
    overflow: hidden;
}

.map-canvas {
    width: 640px;
    height: 480px;
}

.text-h {
    font-family: 'CalibriRegular';
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
    display: block;
    width: 100%;
}

.text-h div {
    display: inline-block;
    vertical-align: top;
}

.text-column {
    font-size: 1.2rem;
    font-weight: normal;
    vertical-align: top;
}

.text-column .text-h {
    margin-bottom: 10px;
}

.level:first-child .slide h1 {
    color: #ffffff;
}

.level:first-child .slide .text {
    color: #fff;
}

.contact-h {
    font-family: 'CalibriRegular';
    font-size: 1.5em;
    line-height: 1.5;
    color: #424242;
    text-transform: uppercase;
    display: block;
}

.contact-h.first-contacts {
    color: #ffffff;
}

.contact-text, .contact-text a {
    font-family: 'CalibriLight';
    color: #424242;
    display: block;
}

.contact-text.first-contacts, .contact-text.first-contacts a {
    color: #ffffff;
}

.text.address-text {
    color: #424242;
    margin-top: 20px;
    font-family: 'CalibriRegular';
    font-size: 1.2em;
    line-height: 1.2;
}

.text.first-contacts.address-text {
    color: #000;
}

.column-logo {
    width: 20%;
    margin-left: -20px;
    margin-top: 0;
}

.column-logo.russia object {
    margin-left: -30px;
}

.column-logo object {
    display: inline-block;
}

.column-logo-h {
    display: inline-block;
    width: 70%;
    height: auto;
    text-align: left;
}

.column-logo-small {
    width: 40px;
    height: auto;
    vertical-align: top;
    text-align: center;
    margin: 0;
    padding: 0;
}

.column-logo-small object {
    vertical-align: top;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

div.column-logo-h-small {
    padding-top: 1%;
    height: auto;
    vertical-align: top;
    display: inline-block;
    width: 60%;
    text-transform: none;
    font-family: 'CalibriBold';
}

a.email-link {
    text-decoration: underline;
}

.text-column li {
    margin-bottom: 10px;
}

.text-column ul {
    margin-top: 0;
    -webkit-padding-start: 0;
}

