.framing {
    position: absolute;
}

.top-bottom {
    z-index: -1;
}

.frame-item {
    margin: 50px 50px 100px 50px;
}

.top-bottom .frame-item:first-child {
    border-color: transparent;
    border-image: inherit;
    margin-bottom: 50px;
}

.top-bottom .frame-item:first-child {
    background: #E84D30;
}

.top-bottom .frame-item {
    border-width: 8px;
    border-style: solid;
}

/*1. #EC7022 #DDB044 - золотой*/
.golden {
    -moz-border-image: -moz-linear-gradient(left, #EC7022 0%, #DDB044 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #EC7022 0%, #DDB044 100%);
    border-image: linear-gradient(to right, #EC7022 0%, #DDB044 100%);
    border-image-slice: 1;
}

/*2. #26A67D #47B962 - зеленый*/
.green {
    -moz-border-image: -moz-linear-gradient(left, #26A67D 0%, #47B962 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #26A67D 0%, #47B962 100%);
    border-image: linear-gradient(to right, #26A67D 0%, #47B962 100%);
    border-image-slice: 1;
}

/*3. #FF4D52 #FF6B40 - красный*/
.red {
    -moz-border-image: -moz-linear-gradient(left, #FF4D52 0%, #FF6B40 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #FF4D52 0%, #FF6B40 100%);
    border-image: linear-gradient(to right, #FF4D52 0%, #FF6B40 100%);
    border-image-slice: 1;
}

/*4. #62CC98 #81ACE1 - бирюзовый*/
.turquoise {
    -moz-border-image: -moz-linear-gradient(left, #62CC98 0%, #81ACE1 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #62CC98 0%, #81ACE1 100%);
    border-image: linear-gradient(to right, #62CC98 0%, #81ACE1 100%);
    border-image-slice: 1;
}

/*5. blue*/
.blue {
    -moz-border-image: -moz-linear-gradient(left, #32D1ED 0%, #32D1ED 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #32D1ED 0%, #32D1ED 100%);
    border-image: linear-gradient(to right, #32D1ED 0%, #32D1ED 100%);
    border-image-slice: 1;
}

/*6. blue*/
.light-blue {
    -moz-border-image: -moz-linear-gradient(left, #32D1ED 0%, #89E9FA 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #32D1ED 0%, #89E9FA 100%);
    border-image: linear-gradient(to right, #32D1ED 0%, #89E9FA 100%);
    border-image-slice: 1;
}

/*7 #E84D30 #E2553E темно-красный*/
.dark-red {
    -moz-border-image: -moz-linear-gradient(left, #E84D30 0%, #E2553E 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #E84D30 0%, #E2553E 100%);
    border-image: linear-gradient(to right, #E84D30 0%, #E2553E 100%);
    border-image-slice: 1;
}