.help-button {
    border-width: 0;
    border-bottom-width: 12px;
    border-bottom-style: solid;
    position: absolute;
    margin: 300px 0 0 0;
    right: -15px;
    cursor: pointer;
    z-index: 2;
}

.help-button h1 {
    margin-top: 0;
    margin-right: 100px;
}