@media (max-height: 600px) and (max-width: 800px) {

    /* style.css */
    .logo {
        width: 110px;
        top: 100px;
        left: 125px;
    }

    .section {
        margin-left: 125px;
    }

    .section p {
        font-size: 12px;
    }

    /* content.css */
    h1 {
        margin-top: 150px;
        font-size: 15pt;
        line-height: 22px;
        letter-spacing: 2px;
    }

    h1.underlined {
        border-bottom-width: 6px;
        margin-right: -25px;
        padding-bottom: 15px;
    }

    .slide .line {
        margin-left: -125px;
        border-top-width: 6px;
    }

    .slide h1,
    .slide .text,
    .slide .text-main {
        margin-left: 125px;
    }

    .slide p {
        font-size: 80%;
        padding-right: 45px;
    }

    .slide .text {
        margin-top: 35px;
    }

    .icon-container {
        width: 60px;
    }

    /* helpButton.css */
    .help-button {
        border-bottom-width: 6px;
        margin-top: 150px;
    }
}

@media (max-height: 768px) and (max-width: 1024px) {

    /* style.css */
    .logo {
        width: 110px;
        top: 100px;
        left: 125px;
    }

    .section {
        margin-left: 125px;
    }

    .section p {
        font-size: 12px;
    }

    /* content.css */
    h1 {
        margin-top: 150px;
        font-size: 15pt;
        line-height: 22px;
        letter-spacing: 2px;
    }

    h1.underlined {
        border-bottom-width: 6px;
        margin-right: -25px;
        padding-bottom: 15px;
    }

    .slide .line {
        margin-left: -125px;
        border-top-width: 6px;
    }

    .slide h1,
    .slide .text,
    .slide .text-main {
        margin-left: 125px;
    }

    .slide p {
        font-size: 80%;
        padding-right: 45px;
    }

    .slide .text {
        margin-top: 35px;
    }

    .icon-container {
        width: 60px;
    }

    /* helpButton.css */
    .help-button {
        border-bottom-width: 6px;
        margin-top: 150px;
    }
}

@media (max-height: 900px) and (max-width: 1280px) {

    /* style.css */
    .logo {
        width: 165px;
        top: 150px;
        left: 180px;
    }

    .section {
        margin-left: 180px;
    }

    .section p {
        font-size: 18px;
    }

    /* content.css */
    h1 {
        margin-top: 220px;
        font-size: 20pt;
        line-height: 33px;
        letter-spacing: 3px;
    }

    h1.underlined {
        border-bottom-width: 9px;
        margin-right: -30px;
        padding-bottom: 20px;
    }

    .slide .line {
        margin-left: -180px;
        border-top-width: 9px;
    }

    .slide h1,
    .slide .text,
    .slide .text-main {
        margin-left: 180px;
    }

    .slide p {
        font-size: 120%;
        padding-right: 70px;
    }

    .slide .text {
        margin-top: 35px;
    }

    .icon-container {
        width: 90px;
    }

    /* helpButton.css */
    .help-button {
        border-bottom-width: 9px;
        margin-top: 220px;
    }
}