/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: 'CalibriRegular'; */
@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/CalibriR/Calibri.eot');
    src: local('☺'), url('../fonts/CalibriR/Calibri.woff') format('woff'), url('../fonts/CalibriR/Calibri.ttf') format('truetype'), url('../fonts/CalibriR/Calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'CalibriLight'; */
@font-face {
    font-family: 'CalibriLight';
    src: url('../fonts/CalibriL/Calibril.eot');
    src: local('☺'), url('../fonts/CalibriL/Calibril.woff') format('woff'), url('../fonts/CalibriL/Calibril.ttf') format('truetype'), url('../fonts/CalibriL/Calibril.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'CalibriBold'; */
@font-face {
    font-family: 'CalibriBold';
    src: url('../fonts/CalibriB/Calibrib.eot');
    src: local('☺'), url('../fonts/CalibriB/Calibrib.woff') format('woff'), url('../fonts/CalibriB/Calibrib.ttf') format('truetype'), url('../fonts/CalibriB/Calibrib.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Bono'; */
@font-face {
    font-family: 'Bono';
    src: url('../fonts/Bono/bono.eot');
    src: local('☺'), url('../fonts/Bono/bono.woff') format('woff'), url('../fonts/Bono/bono.ttf') format('truetype'), url('../fonts/Bono/bono.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.relcenter100 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.main-wrapper {
    height: 100%;
    width: 100%;
    padding: 30px 30px 0 30px;
}

.main-wrapper, .main-wrapper:before, .main-wrapper:after {
    box-sizing: border-box;
}

.main-content {
    height: 100%;
    width: 100%;
    position: relative;
    background: -moz-linear-gradient(left, #E84D30 0%, #E2553E 100%);
    background: -webkit-linear-gradient(left, #E84D30 0%, #E2553E 100%);
    background: linear-gradient(to right, #E84D30 0%, #E2553E 100%);
}

.logo-container {
    position: relative;
    width: 100%;
    height: auto;
    /*background: green;*/
    padding-left: 100px;
    padding-top: 80px;
    box-sizing: border-box;
}

.logo {
    font-family: 'Bono', arial;
    font-size: 40px;
    color: #ffffff;
}

.logo span {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.logo .letterB {
    margin-left: 0px;
}

.logo .letterO1 {
    margin-left: -26px;
}

.logo .letterN {
    margin-left: -18px;
}

.logo .letterO2 {
    margin-left: -22px;
}

.zeroLevel {
    color: #ffffff;
}

.logo .letterB.notZeroLevel {
    color: #F04B52;
}

.logo .letterO1.notZeroLevel {
    color: #FE5653;
}

.logo .letterN.notZeroLevel {
    color: #FD5F4F;
}

.logo .letterO2.notZeroLevel {
    color: #FC6949;
}

.text-container {
    position: relative;
    width: 100%;
    height: auto;
    background: inherit;
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;
}

.columns {
    position: relative;
    height: auto;
    /*background: green;*/
    box-sizing: border-box;
    margin-bottom: 10px;
}

h1 {
    /*margin-top: 300px;*/
    font-family: GothamProBlack, "Arial Black", "Arial Bold";
    font-size: 300%;
    display: inline-block;
    line-height: 120%;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.column {
    display: block;
    box-sizing: border-box;
    padding-right: 3%;
    padding-bottom: 50px;
    vertical-align: top;
    font-family: 'CalibriLight';

}

.text-h {
    box-sizing: border-box;
    font-family: 'CalibriRegular';
    font-size: 170%;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: top;
    display: block;
    padding-bottom: 10px;
}

.text-m {
    box-sizing: border-box;
    font-size: 140%;
}

.contact-h {
    font-family: 'CalibriRegular';
    font-size: 1.5em;
    line-height: 1.5;
    color: #424242;
    text-transform: uppercase;
    display: block;
}

.contact-h.first-contacts {
    color: #ffffff;
}

.contact-text, .contact-text a {
    font-family: 'CalibriLight';
    color: #424242;
    display: block;
}

.contact-text.first-contacts, .contact-text.first-contacts a {
    color: #ffffff;
}

.text.address-text {
    color: #424242;
    margin-top: 20px;
    font-family: 'CalibriRegular';
    font-size: 1.2em;
    line-height: 1.2;
}

.text.first-contacts.address-text {
    color: #000;
}

.column-с {
    width: 46%;
    display: inline-block;
    font-size: 140%;
}

.address {
    position: relative;
    height: auto;
    bottom: 0;
    padding-bottom: 40px;
    padding-top: 20px;
}

.address-text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'CalibriRegular';
    font-size: 1.2em;
}

@media all and (orientation: portrait) {
    .column-с {
        font-size: 2.2em;
        padding-right: 3%;
    }

    .address-text {
        font-size: 2em;
    }

    .text-h {
        font-size: 2.5em;
    }

    .text-m {
        font-size: 2.2em;
    }

    .company-name {
        margin-bottom: 8%;
    }

    .logo-container {
        padding-bottom: 10%;
    }

    .column {
        width: 100%;
        display: block;
    }

    .address {
        position: relative;
        padding-top: 40px;
    }
}

@media all and (orientation: landscape) {
    .column-с {
        font-size: 1.2em;
    }

    .columns {
        vertical-align: top;
    }

    .company-name {
        margin-bottom: 1%;
    }

    .logo-container {
        padding-bottom: 3%;
    }

    .column {
        width: 46%;
        display: inline-block;
    }
}