.page-menu-container {
    position: fixed;
    left: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    text-align: center;
    user-select: none;
    z-index: 1000;
    display: none;
}

.page-menu {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 30px auto;
    left: 0;
    right: 0;
}

.page-menu-main {
    position: absolute;

    z-index: 100;

    background: #ffffff;

    border: #ffffff 3px solid;
    border-radius: 100px;

    width: 4px;
    height: 4px;

    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.page-menu-longline {
    position: absolute;
    width: 300px;
    height: 12px;
    z-index: 50;
    left: 0;
    display: none;
    margin: 0;
    padding: 0;
}

.page-menu-main:active, .page-menu-main.current-level {
    border-radius: 0;
    cursor: pointer;
}

.page-menu-main:hover {
    cursor: pointer;
}

.page-item {
    width: 12px;
    height: 12px;
    position: relative;
    display: block;
    float: left;
    margin: 0 8px;
    padding: 0;
    opacity: 0;
}

.page-item.i-line {
    width: 24px;
}

.page-circle {
    position: absolute;
    border-radius: 10px;
    width: 4px;
    height: 4px;
    background: #ffffff;
    display: inline-block;
    margin: auto;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}

.page-line {
    position: absolute;
    border-radius: 10px;
    width: 24px;
    height: 4px;
    background: #ffffff;
    display: inline-block;
    margin: auto;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
}