html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    min-height: 1px;
    overflow: hidden; /*магический стиль для корректной работы на мобиле*/
    background-color: #F6F6F6;
    color: #424242;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

a {
    color: #424242;
    text-decoration: none;
}

p {
    font-family: 'CalibriRegular';
}

.main-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 220px;
    z-index: 9;
    top: 18%;
    left: 250px;
}

/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: 'CalibriRegular'; */
@font-face {
    font-family: 'CalibriRegular';
    src: url('../fonts/CalibriR/Calibri.eot');
    src: local('☺'), url('../fonts/CalibriR/Calibri.woff') format('woff'), url('../fonts/CalibriR/Calibri.ttf') format('truetype'), url('../fonts/CalibriR/Calibri.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'CalibriLight'; */
@font-face {
    font-family: 'CalibriLight';
    src: url('../fonts/CalibriL/Calibril.eot');
    src: local('☺'), url('../fonts/CalibriL/Calibril.woff') format('woff'), url('../fonts/CalibriL/Calibril.ttf') format('truetype'), url('../fonts/CalibriL/Calibril.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'CalibriBold'; */
@font-face {
    font-family: 'CalibriBold';
    src: url('../fonts/CalibriB/Calibrib.eot');
    src: local('☺'), url('../fonts/CalibriB/Calibrib.woff') format('woff'), url('../fonts/CalibriB/Calibrib.ttf') format('truetype'), url('../fonts/CalibriB/Calibrib.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* font-family: 'Bono'; */
@font-face {
    font-family: 'Bono';
    src: url('../fonts/Bono/bono.eot');
    src: local('☺'), url('../fonts/Bono/bono.woff') format('woff'), url('../fonts/Bono/bono.ttf') format('truetype'), url('../fonts/Bono/bono.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body > div {
    /*не менять селектор, нужно для отображения блоков на мобиле*/
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
    -webkit-transform: perspective(400px);
    -moz-transform: perspective(400px);
    -ms-transform: perspective(400px);
    -o-transform: perspective(400px);
    transform: perspective(400px);
}

.z-transform,
.frame-item {
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.section {
    display: inline-block;
    margin-left: 250px;
    margin-top: 25%;
}

.section h1 {
    margin-top: inherit;
}

.section p {
    font-size: 25px;
    margin-top: 0;
}

.sidebar {
    position: fixed;
    z-index: 999;
}

.sidebar.nav-left {
    height: 100%;
    width: 100px;
    top: 0;
    left: 0;
    cursor: url(../img/cursors/c-left.png), 10%;
}

.sidebar.nav-right {
    height: 100%;
    width: 150px;
    top: 0;
    right: 0;
    cursor: url(../img/cursors/c-right.png), 10%;
}

.sidebar.nav-top {
    width: 100%;
    height: 150px;
    top: 0;
    right: 0;
    cursor: url(../img/cursors/c-up.png);
}

.sidebar.nav-bottom {
    width: 100%;
    height: 100px;
    bottom: 0;
    right: 0;
    cursor: url(../img/cursors/c-down.png);
}